@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif; }

body {
  height: 100vh;
  background-color: #e0e8ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  body .card {
    width: 600px;
    max-width: 90%; }
    body .card .card__conteiner {
      width: auto; }
      body .card .card__conteiner__image {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 100%;
        width: 100%;
        display: block; }
    body .card .card__content {
      padding: 1.5rem 2rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      height: 23rem;
      justify-content: space-between; }
      body .card .card__content .title {
        text-align: center; }
      body .card .card__content .card__content__p {
        opacity: 0.5;
        text-align: center; }
      body .card .card__content .card__options {
        padding: 1rem;
        border-radius: 1rem;
        background-color: #f5f7ff;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .card .card__content .card__options__left {
          display: flex;
          align-items: center; }
          body .card .card__content .card__options__left .card__options__plan {
            margin-left: 2rem;
            display: flex;
            flex-direction: column; }
            body .card .card__content .card__options__left .card__options__plan .plan {
              font-weight: 900; }
            body .card .card__content .card__options__left .card__options__plan .precio {
              opacity: 0.5; }
        body .card .card__content .card__options .change {
          color: #3829e0;
          font-weight: 700;
          text-decoration: underline; }
      body .card .card__content .proceed {
        display: block;
        border: none;
        background-color: #3829e0;
        color: white;
        font-weight: 600;
        padding: 1rem 0;
        border-radius: 0.5rem;
        width: 100%;
        transition: background-color 1s ease; }
        body .card .card__content .proceed:hover {
          background-color: #5245e3; }
      body .card .card__content .cancel {
        display: block;
        border: none;
        font-weight: 600;
        background-color: transparent;
        color: gray;
        padding: 0; }
